@font-face {
    font-family: 'ChusaLove';
    font-weight: 400;
    font-style: normal;
    src:url('https://cdn.jsdelivr.net/gh/webfontworld/yesan/ChusaLove.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'ChusaLove';
    font-weight: 700;
    font-style: normal;
    src:url('https://cdn.jsdelivr.net/gh/webfontworld/yesan/ChusaLoveBold.woff2') format('woff2');
    font-display: swap;
}